@tailwind base; /* removes all styles that the browser gives by default */
@tailwind components;
@tailwind utilities;



/* Highlighter animation */
.highlighter-mask {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

.group:hover .highlighter-mask {
  transform: translateX(0%);
}
